---
layout: blog
section: section-blog
permalink: /blog/
page_title: BLOG
page_description: Conteúdo exclusivo e complementar. Fique a vontade para explorar
---

<div class="blog">
{% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="post index">
      <div class="post-inner">
        <div class="post-category">{{ post.category | upcase }}</div>
        <div class="post-thumbnail" style="background: url({{ post.thumbnail }}) no-repeat center center;"></div>
        <h3 class="post-title-index"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
      </div>
    </div>
    {% endfor %}
{% endif %}
</div>
