<footer class="main-footer">
  <div class="container-footer">
    <div class="footer-info">
      <p class="footer-text">&copy; {{ now.Year }} Desenhando com Mack. Todos os direitos reservados.</p>
      <div class="footer-links">
        <a href="/estudio/" class="footer-link">Meu Estúdio</a>
      </div>
    </div>

    <!-- ícones de redes sociais -->
    <!-- aria-label é um atributo de acessibilidade que descreve o elemento para leitores de tela ou tecnologias assistivas, sem alterar a aparência visual. -->
    <div class="footer-icons">
      <a href="https://www.instagram.com/desenhandocommack/" target="_blank" aria-label="Instagram">
        <img src="/images/instagram-icon.png" alt="Ícone Rosa Instagram" />
      </a>

      <a href="https://www.youtube.com/c/DesenhandocomMack" target="_blank" aria-label="YouTube">
        <img src="/images/youtube-icon.png" alt="Ícone Rosa YouTube" />
      </a>

      <a href="https://www.twitch.tv/desenhandocommack" target="_blank" aria-label="Twitch">
        <img src="/images/twitch-icon.png" alt="Ícone Rosa Twitch" />
      </a>

      <a href="https://www.tiktok.com/@desenhandocommack" target="_blank" aria-label="TikTok">
        <img src="/images/tiktok-icon.png" alt="Ícone Rosa TikTok" />
      </a>
    </div>
  </div>
</footer>