<div class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a id="toggle2" href="#">Categorias <i class="card-arrow fas fa-angle-down"></a></i>
            <ul class="navbar-sublist" id="menu2">
                <li class="navbar-subitem"><a href="#">Tutoriais</a></li>
                <li class="navbar-subitem"><a href="#">Dicas</a></li>
                <li class="navbar-subitem"><a href="#">Análises</a></li>
            </ul>
        </li>
        <li class="navbar-item"><a href="#">Séries</a></li>
        <li class="navbar-item"><a href="#">Updates</a></li>
    </ul>
</div>
