<div class="footer py-4 mt-5">

  <ul class="nav flex-column flex-sm-row text-center justify-content-center">
    <li class="nav-item"><a class="nav-link" href="/faq/">FAQ</a></li>
    <li class="nav-item"><a class="nav-link" href="/consquistas/">CONQUISTAS</a></li>
    <li class="nav-item"><a class="nav-link" href="/recursos/">RECURSOS</a></li>
    <li class="nav-item"><a class="nav-link" href="/info/">INFO</a></li>
    <li class="nav-item"><a class="nav-link" href="/portfolio/">PORTFOLIO</a></li>
  </ul>

  <ul class="nav text-center justify-content-center my-4">
    <li class="nav-item"><a class="nav-link" href="//youtube.com/desenhandocommack"><i class="fab fa-youtube fa-2x"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="//facebook.com/desenhandocommack"><i class="fab fa-facebook-f fa-2x"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="//instagram.com/desenhandocommack"><i class="fab fa-instagram fa-2x"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="//twitter.com/mackdesenhos"><i class="fab fa-twitter fa-2x"></i></a></li>
  </ul>


  <div class="copy text-center">&copy; Desenhando com Mack - {{ 'now' | date: "%Y" }}</div>
</div>
