<div class="navbar">
  <ul class="menu">
    <li class="toggle"><a href="/blog/categorias/">Categorias <i class="fas fa-caret-down"></i></a>
      <ul class="menu dropdown">
        <li><a href="#">Programas Gratuitos</a></li>
        <li><a href="#">DIY</a></li>
        <li><a href="#">Tutoriais</a></li>
        <li><a href="#">Dicas</a></li>
        <li><a href="#">Hobbies</a></li>
        <li><a href="#">Análises</a></li>
      </ul>
    </li>
    <li><a href="/blog/series/">Séries</a></li>
    <li><a href="/blog/updates/">Updates</a></li>
  </ul>
</div>
