<div class="topbar">
    <img class="topbar-logo" src="/assets/img/logo.jpg" alt="Logo do site" height="50">

    <div class="topbar-menu">
        <button class="hamburger hamburger--slider" type="button" aria-label="Menu" aria-controls="navigation"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>

        <nav id="navigation">
            <ul class="topbar-list" id="menu">
                {% for item in site.data.menu %}
                    <li class="topbar-item">
                        {% if page_url == url %}
                            <a class="topbar-text" href="{{ item.url }}">{{ item.name }}</a>
                        {% else %}
                            <span class="topbar-text current">{{ item.name }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>       
    </div>
</div>
