.footer-outer {
  background-color: #383C58;
}

.footer {
  text-align: center;
  padding: 3rem 0;

  .copy {
    color: #ddd;
  }

  .menu {
    display: block;

    a:hover {
      background: lighten(#383C58, 50%);
    }
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem auto;
  }

  @media all and (min-width: 300px) {
    .social {
      width: 300px;
      justify-content: space-around;
    }
  }

  @media all and (min-width: 500px) {
    align-items: center;

    .menu {
      display: flex;
      justify-content: center;
    }
  }
}
