.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  a, .item-inner {
    display: block;
    padding: 1rem;

    &:hover {
      background: #ddd;
      text-decoration: none;
    }
  }
}
