.navbar-list {
    font-family: "Roboto";
    font-weight: lighter;
    font-size: 1.375rem;
    color: #808080;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;

    @media screen and (min-width: 500px) {
        display: flex;
    }
}

.navbar-item {
    position: relative;

    a {
        color: #808080;
        display: block;
        text-decoration: none;
        padding: 0.5rem 2rem;
    }
}

.nojs .navbar-item:hover {
    .navbar-sublist {
        display: block;
    }
}

.navbar-sublist {
    width: 100%;
    position: absolute;
    padding: 0;
    list-style: none;
    display: none;

    &.expanded {
        display: block;
    }
}
