.navbar {
  font-size: 1.5rem;
  font-weight: lighter;

  .menu {
    display: block;
    text-align: center;
  }

  a {
    color: #808080;
    white-space: nowrap;
  }

  .toggle {
    .fa-caret-down {
      color: #EE4C8B;
    }

    &:hover {
      .dropdown {
        display: block;
      }
    }
  }

  .dropdown {
    background: white;
    position: absolute;
    display: none;
    box-shadow: 0 2px 5px #888;

    a {
      text-decoration: none;
    }
  }

  @media all and (min-width: 400px) {
    > .menu {
      display: flex;
      justify-content: center;
    }
  }

  @media all and (min-width: 600px) {
    a {
      padding: 1rem 3rem;
    }
  }
}
