<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenhando com Mack</title>
    <meta name="description" content="Desenho para iniciantes que querem se inspirar e melhorar suas habilidades." />
    
    {{ with resources.Get "styles/style.css" | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
    {{ end }}

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />

</head>

<body>
    <header>
        <nav class="main-nav">
            <div class="container-nav">
            <!-- LOGO -->
            <a href="index.html" class="logo">
                <img src="/images/logo.png" alt="Logo do site Desenhando com Mack"/>
            </a>


            <div class="nav-right">
             <!-- LINKS PRINCIPAIS-->
            <ul class="menu">
            <li><a href="index.html">Início</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="https://hotmart.com/pt-br/club/desenhandocommack" target="_blank">Cursos</a></li>
        
            <li>
                 <!-- CAIXA DE BUSCA-->
            <form class="search" action="/buscar" method="get">
            <input type="text" name="q" placeholder="Buscar..." />
            <button type="submit"><span class="material-symbols-rounded">search</span></button>
            </form>
            </li>
            </ul>

            <!-- ÍCONES DO MENU-->
            <div class="nav-icons">
                <a href="https://livepix.gg/desenhandocommack" rel="noopener noreferrer" class="botao-doar" aria-label="Doar">
                    <span class="material-symbols-rounded">savings</span>
                </a>


                <button class="botao-tema" aria-label="Alterar Tema">
                    <span class="material-symbols-rounded">dark_mode</span>
                </button>
            </div>
           

             <!-- BOTÃO HAMBÚRGUER (visível só no mobile) -->
            <button class="menu-toggle" aria-label="Abrir menu">
            <span class="material-symbols-rounded">menu</span>
            </button>

                </div>
            </div>
        </nav>
    </header>

    
    <main>
        <!-- SEÇÃO DE DESTAQUES COM SLIDES -->
        <section class="slides-container"> <!-- agrupa todos os slides -->

            <!-- SLIDE 1: CURSO KRITA -->
            <div class="slide-content active">

                <div class="container"> <!-- padrão de layout, se repete pra manter o mesmo comportamento visual em várias seções -->
                    <div class="slide-text">
                        <h1>
                             <span class="nome-do-curso-krita">Krita</span>
                             <span class="nome-do-curso-krita2">PARA INICIANTES</span>
                        </h1>
                       

                        <p>Um guia acessível para quem quer começar a usar o Krita: interface, ferramentas essenciais e atalhos prontos.</p>
                        
                        <!-- Container do botão + info -->
                        <div class="btn-wrapper">
                         <a href="https://go.hotmart.com/I98301009X" target="_blank" class="slides-btn">
                        <span class="material-symbols-rounded">shopping_cart</span> COMPRAR 39,90</a>

                        <p class="info-btn">2 anos de acesso</p>
                        </div>
                       
                    </div>

                    

                    <div class="slide-image">
                        <a href="https://go.hotmart.com/I98301009X" target="_blank">
                        <picture>
                            <!-- imagem mobile -->
                            <source media="(max-width: 768px)" srcset="/images/curso-krita_slide1_vertical.png">
                            <!-- imagem padrão (desktop) -->
                            <img src="/images/curso-krita-slide1_horizontal.png" alt="Imagem do mascote para o curso Krita para Iniciantes - Slide 1">
                        </picture>
                        </a>
                    </div>
                </div>
            </div>
        </section>

         <!-- SEÇÃO DAS PLAYLISTS DO YOUTUBE -->
        <section class="playlists-yt"> <!-- agrupa todas as playlists-->
            <div class="container">
                <h1>YouTube</h1>
                <p>Conheça nossas playlists de vídeos no Youtube.</p>

                <div class="playlist-grid"> <!-- cards das playlists-->

                     <!-- Card 1 -->


                     <div class="playlist-card">
                       <a href="https://www.youtube.com/playlist?list=PL1K-UhVJGhmFoVF2rsvdXd7wBcm6FTZWT" target="_blank">
                        <img src="images/playlist1.png" alt="Capa da Playlist Série Quartoons">
                       </a>
                            <h2>Nossa Quartoons</h2>
                        <p>Uma série para você aprender como eu desenho no estilo cartoon.</p>
                    </div>

                    <!-- Card 2 -->
                    <div class="playlist-card">
                        <a href="https://www.youtube.com/playlist?list=PL1K-UhVJGhmGw4KoLNdvqe2b70h8UEUU5" target="_blank">
                        <img src="images/playlist2.png" alt="Capa da Playlist Série Krita">
                       </a>
                        <h2>Tudo sobre o Krita</h2>
                        <p>Tutoriais e dicas sobre o software de desenho gratuito mais incrível que existe.</p>
                    </div>

                     <!-- Card 3 -->
                    <div class="playlist-card">
                        <a href="https://www.youtube.com/playlist?list=PL1K-UhVJGhmFWv60ElVomPekRJaF79ZuP" target="_blank">
                        <img src="images/playlist3.png" alt="Capa da Playlist Série Chibis">
                       </a>
                        <h2>Desenhando Chibis</h2>
                        <p>Para pessoas quem tem interesse em fazer desenhos fofos e divertidos.</p>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <!-- RODAPÉ DO SITE TODO -->

    <footer class="main-footer">

        <div class="container-footer">
            <!-- nome do site e direitos autoriais -->

        <p class="footer-text">
            &copy; <span id="ano-atual"></span>
            Desenhando com Mack. Todos os direitos reservados.</p>
            

         <!-- ícones de redes sociais -->
         <!-- aria-label é um atributo de acessibilidade que descreve o elemento para leitores de tela ou tecnologias assistivas, sem alterar a aparência visual. -->
         <div class="footer-icons">
            <a href="https://www.youtube.com/c/DesenhandocomMack" target="_blank" aria-label="YouTube">
                 <img src="/images/youtube-icon.png" alt="Ícone Rosa YouTube"/>
            </a>

            <a href="https://www.behance.net/mackilustra" target="_blank" aria-label="Behance">
                 <img src="/images/behance-icon.png" alt="Ícone Rosa Behance"/>
            </a>

            <a href="https://www.linkedin.com/in/mackilustra/" target="_blank" aria-label="Linkedin">
                 <img src="/images/linkedin-icon.png" alt="Ícone Rosa Linkedin"/>
            </a>
            </div>
         </div>

    </footer>

    <!-- JAVASCRIPT -->
    <script>
  document.getElementById('ano-atual').textContent = new Date().getFullYear();
</script>

<!-- SCRIPT PARA ALTERAR TEMA -->
<script>
const botaoTema = document.querySelector(".botao-tema");
const body = document.body;

botaoTema.addEventListener("click", () => {
  body.classList.toggle("dark-mode"); // alterna tema
});
</script>

<!-- SCRIPT PARA CAIXA DE BUSCA -->
<script>
  const searchForm = document.querySelector('.search');
const searchButton = searchForm.querySelector('button');
const searchInput = searchForm.querySelector('input');

// Expande ao clicar no botão
searchButton.addEventListener('click', (e) => {
  if (!searchForm.classList.contains('expanded')) {
    e.preventDefault(); // não envia o form ainda
    searchForm.classList.add('expanded');
    searchInput.focus();
  }
});

// Fecha ao clicar fora
document.addEventListener('click', (e) => {
  if (!searchForm.contains(e.target)) { // se o clique não estiver na busca
    searchForm.classList.remove('expanded');
  }
});

</script>

<!-- SCRIPT DO MENU HAMBURGUER -->
<script>
  const menuToggle = document.querySelector('.menu-toggle');
const menu = document.querySelector('.main-nav .menu');
const mainNav = document.querySelector('.main-nav');

menuToggle.addEventListener('click', () => {
  menu.classList.toggle('active');
  mainNav.classList.toggle('fixed')
});

</script>


       
</body>