---
---
// @import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,300i,900');
// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@import "reboot";
@import "card";
@import "topbar";
@import "navbar";
@import "header";
@import "footer";
@import "post";
@import "faq";

@mixin bottom-bar($color) {
  h1::after {
    content: "";
    display: block;
    margin: 1rem auto 0;
    width: 6.25rem;
    border-bottom: solid 4px $color;
  }
}

blockquote {
  background: #efefef;
  padding-left: 1.5rem;
  border-left: solid 4px #888;
}

html {
  height: 100%;
  background: #383C58;
}

.footer {
    padding-left: 1rem;
    padding-right: 1rem;
}
.main {
    max-width: 70rem;
    padding: 0 1rem;
    margin: 5rem auto;
}

img {
  max-width: 100%;
}

.section-wrapper-1 {
  background: url("/assets/img/arte.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  @include bottom-bar(#fff);

}

.link-to-blog {
  font-weight: bold;
  font-size: 1.5rem;
  color: #25EAF6;
  display: inline-block;
  padding: 1rem 4rem;
  border: solid 3px #25EAF6;
  border-radius: 15% / 50%;

  &:hover {
    color: #25EAF6;
    text-decoration: none;
  }
}

.section-wrapper-2 {
  background: linear-gradient(to right, #1B9FFF, #43CBFF);

  @include bottom-bar(#fff);

  h2 {
    margin-top: 1rem;
    font-family: "Roboto";
  }

  h1, h2, p {
    color: #fff !important;
  }
}

.section3 {
  text-align: center;

  @include bottom-bar(#FF587B);

  p {
    margin-bottom: 0 !important;
  }

  h1, h2, p {
    color: #808080 !important;
    border-color: #808080 !important;
  }
}

.section4 {
  a {
    display: inline-block;
    // margin: 0 2rem 1rem;
    img {
      filter: brightness(180%);
    }
    @media screen and (min-width: 500px) {
      & img {
        filter: brightness(120%);
      }

      &:hover img {
        filter: brightness(180%);
      }
    }
  }
}

.section-wrapper-4 {
  background: url("/assets/img/junte-se-a-trilha.jpg") no-repeat center center;
  background-size: cover;
  
  .section {
    max-width: 50rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }


  img {
    display: block;
  }
}

.section {
  text-align: center;
  padding: 5rem 1rem;
}

.section h1 {
  font-family: "Roboto";
  font-size: 24px; // era 36px
  
  @media screen and (min-width: 900px) {
    font-size: 36px;
  }

  color: #fee;
  max-width: 50rem;
  text-align: center;
  margin: auto;
  display: inline-block;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.section p {
  color: #fee;
  font-size: 16px; // era 24px

 
  @media screen and (min-width: 900px) {
    font-size: 24px;
  }

  font-weight: lighter;
  font-family: "Roboto";
  margin: auto;
  max-width: 50rem;
  text-align: center;
  margin-bottom: 2rem;
}

.category-page-heading {
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
}

.category-page-text {
  color: #808080;
}
