---
layout: compress
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'pt-br' }}">
  <head>
    <meta charset="utf-8">

    <meta property="fb:app_id"        content="192466878110093" />
    <meta property="og:url"           content="{{ page.url | absolute_url }}" />
    <meta property="og:type"          content="article" />
    <meta property="og:title"         content="{{ page.title }}" />
    <meta property="og:description"   content="{{ page.excerpt | strip_html | default: page.description | default: site.description }}" />
    <meta property="og:image"         content="{{ page.thumbnail | absolute_url }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  </head>

  <body class="nojs">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0&appId=192466878110093&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <header class="header">
      {% include topbar.html %}
      {% if page.has_header %}{% include header.html %}{% endif %}
      {% if page.has_navbar %}{% include navbar.html %}{% endif %}
    </header>

    {{ content }}

    <footer class="footer">{% include footer.html %}</footer>

    {% if page.url == "/" %}
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    {% endif %}
  
    <script src="{{ '/assets/js/functions.js' | relative_url }}" charset="utf-8"></script>

    <script>
      var facebookButton = document.getElementById('facebook-share-button');
      if (facebookButton) {
        facebookButton.onclick = function() {
          FB.ui({
          method: 'share',
          href: '{{ page.url | absolute_url }}',
          }, function(response){});
        }
      }
    </script>
  </body>
</html>
