<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
    <div class="wrapper {{ page.section }}">
      <div class="container">{% include topbar.html %}</div>
    </div>

    {{ content }}

    <div class="wrapper footer-outer">
      <div class="container">{% include footer.html %}</div>
    </div>
  </body>
</html>
