---
layout: page
---
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-info">
        <img class="post-author-avatar" src="{{ page.author.avatar | default: site.author.avatar }}" width="64" alt="Avatar do autor">
        <div class="post-author-name">Escrito por {{ page.author.name | default: site.author.name }}</div>
        <div class="post-date">Em {{ page.date | date: "%d/%m/%Y" }}</div>

        <div class="post-share">
          <a id="facebook-share-button"><img src="/assets/img/icon-share-facebook.png"></a>

          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button"
          data-lang="pt"
          data-show-count="false"><img src="/assets/img/icon-share-twitter.png" alt="Tweetar"></a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="post-body">{{ content }}</div>
</div>
