{{ define "main" }}
<main>
  <!-- SEÇÃO DE DESTAQUES COM SLIDES -->
  <section class="slides-container">
    <!-- agrupa todos os slides -->

    <!-- SLIDE 1: CURSO KRITA -->
    <div class="slide-content active">
      <div class="container">
        <!-- padrão de layout, se repete pra manter o mesmo comportamento visual em várias seções -->
        <div class="slide-text">
          <h1>
            <span class="nome-do-curso-krita">Krita</span>
            <span class="nome-do-curso-krita2">PARA INICIANTES</span>
          </h1>

          <p>
            Um guia acessível para quem quer começar a usar o Krita: interface, ferramentas essenciais e atalhos
            prontos.
          </p>

          <!-- Container do botão + info -->
          <div class="btn-wrapper">
            <a href="https://go.hotmart.com/I98301009X?dp=1" target="_blank" class="slides-btn">
              <span class="material-symbols-rounded">shopping_cart</span>
              COMPRAR 39,90
            </a>

            <p class="info-btn">2 anos de acesso</p>
          </div>
        </div>

        <div class="slide-image">
          <a href="https://go.hotmart.com/I98301009X" target="_blank">
            <picture>
              <!-- imagem mobile -->
              <source media="(max-width: 768px)" srcset="/images/curso-krita_slide1_vertical.png" />
              <!-- imagem padrão (desktop) -->
              <img
                src="/images/curso-krita-slide1_horizontal.png"
                alt="Imagem do mascote para o curso Krita para Iniciantes - Slide 1"
              />
            </picture>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- SEÇÃO DAS PLAYLISTS DO YOUTUBE -->
  <section class="playlists-yt">
    <!-- agrupa todas as playlists-->
    <div class="container">
      <h1>YouTube</h1>
      <p>Conheça nossas playlists de vídeos no Youtube.</p>

      <div class="playlist-grid">
        <!-- cards das playlists-->

        <!-- Card 1 -->

        <div class="playlist-card">
          <a href="https://www.youtube.com/playlist?list=PL1K-UhVJGhmFoVF2rsvdXd7wBcm6FTZWT" target="_blank">
            <img src="images/playlist1.png" alt="Capa da Playlist Série Quartoons" />
          </a>
          <h2>Nossa Quartoons</h2>
          <p>Uma série para você aprender como eu desenho no estilo cartoon.</p>
        </div>

        <!-- Card 2 -->
        <div class="playlist-card">
          <a href="https://www.youtube.com/playlist?list=PL1K-UhVJGhmGw4KoLNdvqe2b70h8UEUU5" target="_blank">
            <img src="images/playlist2.png" alt="Capa da Playlist Série Krita" />
          </a>
          <h2>Tudo sobre o Krita</h2>
          <p>Tutoriais e dicas sobre o software de desenho gratuito mais incrível que existe.</p>
        </div>

        <!-- Card 3 -->
        <div class="playlist-card">
          <a href="https://www.youtube.com/playlist?list=PL1K-UhVJGhmFWv60ElVomPekRJaF79ZuP" target="_blank">
            <img src="images/playlist3.png" alt="Capa da Playlist Série Chibis" />
          </a>
          <h2>Desenhando Chibis</h2>
          <p>Para pessoas quem tem interesse em fazer desenhos fofos e divertidos.</p>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  // MUDAR TEMA
  document.querySelector(".botao-tema").addEventListener("click", () => document.body.classList.toggle("dark-mode"));

  // SCRIPT PARA CAIXA DE BUSCA
  const searchForm = document.querySelector(".search");
  const searchButton = searchForm.querySelector("button");
  const searchInput = searchForm.querySelector("input");

  // Expande ao clicar no botão
  searchButton.addEventListener("click", (e) => {
    if (!searchForm.classList.contains("expanded")) {
      e.preventDefault(); // não envia o form ainda
      searchForm.classList.add("expanded");
      searchInput.focus();
    }
  });

  // Fecha ao clicar fora
  document.addEventListener("click", (e) => {
    if (!searchForm.contains(e.target)) {
      // se o clique não estiver na busca
      searchForm.classList.remove("expanded");
    }
  });

  // SCRIPT DO MENU HAMBURGUER
  const menuToggle = document.querySelector(".menu-toggle");
  const menu = document.querySelector(".main-nav .menu");
  const mainNav = document.querySelector(".main-nav");

  menuToggle.addEventListener("click", () => {
    menu.classList.toggle("active");
    mainNav.classList.toggle("fixed");
  });
</script>
{{ end }}
