{{ define "styles" }}
<!--  -->
{{ with resources.Get "styles/blog.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
{{ end }}
<!--  -->
{{ end }}{{ define "main" }}

<h1 class="blog-title">Blog</h1>

<!-- Dropdown listagem de categorias -->
<div class="filter-container">
  <label for="categoryDropdown">Filtrar por categoria:</label>

  <!-- Wrapper para permitir a seta -->
  <div class="dropdown-wrapper">
    <select id="categoryDropdown">
      <option value="/blog/">Categorias</option>
      {{ range .Site.Taxonomies.categories }}
      <!--  -->
      {{ if eq .Page $.Page }}
      <option value="{{ .Page.RelPermalink }}" selected>{{ .Page.Title }}</option>
      {{ else }}
      <option value="{{ .Page.RelPermalink }}">{{ .Page.Title }}</option>
      {{ end }}
      <!--  -->
      {{ end }}
    </select>

    <!-- Ícone da seta -->
    <span class="dropdown-icon">arrow_drop_down</span>
  </div>
</div>

<div class="blog-container">
  <!-- Coluna de posts -->
  <div class="blog-posts">
    <!-- contador para anúncios -->
    {{ range $index, $_ := .Pages }}
    <article class="blog-card" data-category="{{ index .Params.categories 0 | urlize }}">
      <!-- Imagem com overlay -->
      <div class="blog-card-image-wrapper">
        <a href="{{ .RelPermalink }}">
          {{ $p := . }}
          <!--  -->
          {{ with .Resources.GetMatch "cover.*" }}
          <img class="blog-card-image" src="{{ .RelPermalink }}" alt="{{ $p.Title }}" />
          {{ else with .Params.featuredImage }}
          <img class="blog-card-image" src="{{ . }}" alt="{{ $p.Title }}" />
          {{ end }}

          <div class="blog-card-overlay">
            <p>Categoria: {{ index .Params.categories 0 }}</p>
            <p>Data de publicação: {{ .Date.Format "02/01/2006" }}</p>
            {{ with .Lastmod }}
            <p>Última atualização: {{ .Format "02/01/2006" }}</p>
            {{ end }}
          </div>
        </a>
      </div>

      <!-- Título e descrição fora da imagem -->
      <div class="blog-card-text">
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
      </div>
    </article>

    <!-- Inserir anúncio a cada 4 posts -->
    {{ if eq (mod $index 4) 0 }}
    <div class="blog-ad">
      <!-- Bloco entre posts -->
      <ins
        class="adsbygoogle"
        style="display: block"
        data-ad-client="ca-pub-9490703409315867"
        data-ad-slot="2881010591"
        data-ad-format="auto"
        data-full-width-responsive="true"
      ></ins>
    </div>
    {{ end }}

    <!--  -->

    {{ end }}

    <!-- Mensagem caso não haja posts -->
    {{ if not (len .Pages) }}
    <p>Nenhum post encontrado.</p>
    {{ end }}
  </div>

  <!-- Sidebar -->
  {{ partial "sidebar.html" . }}
</div>

<!-- Paginação -->
<div class="blog-pagination">{{ template "_internal/pagination.html" . }}</div>

<!-- Script do menu dropdown da listagem de categorias -->

<script>
  // Quando o usuário muda a categoria
  document.getElementById("categoryDropdown").addEventListener("change", (e) => {
    location.href = e.target.value;
  });
</script>

{{ end }}
